<div class="container-fluid">
  <div class="row-12">

    <div class="col-12 mx-auto">
      <%= render "navbar" %>
    </div>

    <div class="col-9 mx-auto">

			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-sm offset-5">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&ltrif; prev</span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">&utrif;</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">next &rtrif;</span>
						</a>
					</li>
				</ul>
			</nav>

		<div class="pb-3">
			<%= render "subnavbar" %>
		</div>

    </div>

  </div>
</div>


<div class="container">
  <div class="row mx-auto">

    <div class="col-8">
      <h1 class="display-5 text-center pb-2"><%= Faker::Commerce.product_name %> - $<%= Faker::Number.number(digits = 3) %></h1>
    </div>

		<div class="col-8">
			<div class="pb-4 mx-auto">
				<img src="/silas_issac.jpg" class="card-img-top rounded" alt="...">
			</div>
		</div>

    <div class="col-4">
      <div class="py-4 mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.6183823575643!2d-121.91743366635173!3d37.469731291055446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc61c89f7dbf5%3A0xadd4d6fec767fe17!2s48482%20Arkansas%20Pl%2C%20Fremont%2C%20CA%2094539!5e0!3m2!1sen!2sus!4v1568853360922!5m2!1sen!2sus" width="350" height="350" frameborder="0" class="rounded border" style="border:0;" allowfullscreen=""></iframe>
      </div>
<span class="badge badge-secondary p-3"><p class="h6 my-auto font-weight-light">
condition: <strong>New</strong></p>
</span>
    </div>

  </div>

<div class="row mx-auto">
<div class="col-12 mx-auto">
  <p class="lead text-justify"><%= Faker::Lorem.paragraph(20) %></p>
</div>
</div>

</div>
