<div class="container-fluid">
  <div class="row">

    <div class="col-xl-8 col-12 mx-auto pb-2">
      <%= render "navbar" %>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-5 col-xl-2 mx-auto">
      <%= render "brand" %>
      <p><%= link_to "Create a Post", posts_new_path, class:"btn btn-aqua btn-block shadow" %></p>
      <p><%= link_to "My Account", @city, class:"btn btn-light btn-block" %></p>
      <form>
        <div class="input-group">
          <input type="text submit" method="get" name="search" id="search" class="form-control" placeholder="Search.." value="<%= params[:search] %>">
          <div class="input-group-append">
            <button type="button submit" class="btn btn-outline-secondary">--</button>
          </div>
        </div>
      </form>
    </div>
        
    <div class="col-12 col-lg-10 col-xl-8">
      <%= render "county_categories" %>
    </div>
        
    <div class="col-4 col-xl-2 col-xl-2">
      <%= render "locations" %>
    </div>

  </div>
</div>
