<div class="container-fluid">

  <h1 class="display-5 text-center pb-2">Write Your Posting Content:</h1>

  <div class="row-12 mx-auto">
    <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9 col-xs-10 mx-auto pb-3">

      <div class="row mx-auto">

        <div class="col-7">
					<div class="form-group">
						<label for="Title-Input">Posting Title:</label>
            <%= form.text_field :title, class:"form-control" %>
	 				</div>
 				</div>

				<div class="col-5">
					<label for="price">Price:</label>
					<div class="input-group pb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
						</div>
            <%= form.text_field :price_cents, class:"form-control" %>
					</div>
				</div>

				<div class="col-12">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Description:</label>
            <%= form.text_area :description, class:"form-control", rows:"7" %>
		    	</div>
	  		</div>

				<div class="col-6">
					<label for="State-Select">State:</label>
					<div class="form group pb-3">
						<select class="custom-select">
              <option value="1">Alabama</option>
							<option value="2">Alaska</option>
							<option value="3">Arizona</option>
							<option value="4">Arkansas</option>
							<option value="5">California</option>
							<option value="6">Colorado</option>
							<option value="7">Connecticut</option>
						</select>
					</div>
				</div>

				<div class="col-6">
					<div class="form-group">
						<label for="Address-Input">Street Address:</label>
            <%= form.text_field :street_address, class:"form-control" %>
					</div>
				</div>

				<div class="col-6">
					<div class="form-group">
						<label for="Zipcode-Input">Zip:</label>
            <%= form.text_field :zip, class:"form-control" %>
					</div>
				</div>
        
        <div class="col-xl-6">
 			 	  <div class="form-group">
            <label for="Email-Input">Email:</label>
            <%= form.text_field :email, class:"form-control" %>
			    </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9 col-xs-10 mx-auto pb-3">
      <p>
        <a class="btn btn-light float-left" href="/post/new/category" role="button">&ltrif; Prev</a>
        <a class="btn btn-light float-right" href="/post/new/map" role="button">Next &rtrif;</a>
      </p>
    </div>
  </div>
     
</div>
