<div class="container-fluid">
  <div class="row">

    <div class="col-12 pb-2">
      <%= render "navbar" %>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-2 mx-auto">
      <%= render "brand" %>

      <p><%= link_to "Create a Post", posts_new_path, class:"btn btn-aqua btn-block shadow" %></p>

      <div class="pb-3 h4 text-center">
        <span class="font-weight-bolder text-muted"><%= @category.name %></span>
      </div>

      <%= render "form" %>
    </div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
			<%# render "pagination" %>
      <%== pagy_info(@pagy) %>
      <small><%== pagy_bootstrap_nav(@pagy) %></small>

			<div class="row pr-3 pb-3">
				<%= render "card_list", posts: @posts %>
			</div>
    </div>

  </div>
</div>
